<script src="{{ site.baseurl }}/assets/js/hero.js"></script>

<div id="news">
  <ul id="results-container" class="searched" style="color: #2980B9;"></ul>
</div>

<div id="noscript-content"  class="text-center">
  <h4 class="text-center">HeroBot说</h4>
  <p class="text-center">什么都不必说，我知道我明了</p>
  <p class="text-center">他们说Javascript是万恶之源</p>
  <p class="text-center"><b>但是</b>，真正的安全只有靠Tor, 去装个<a href="https://www.torproject.org/download/">Tor Browser</a>或<a href="https://www.privacytools.io/operating-systems/#tor_os">双虚拟机</a>吧</p>
  <p class="text-center">因为<a href="https://github.com/diymysite/analytics/blob/master/pages/analytics.md">除了恶意网页插件，还有一万种方法监视你</a>.</p>
  <p class="text-center">缺少javascript的世界是残缺的，就像没有英雄的世界</p>
  <p class="text-center"><b>当然</b>，你可以直接阅读<a href="https://raw.githubusercontent.com/NodeBE4/hero/master/index.json">原始数据</a>或者网页代码</p>
  <p class="text-center"><i>Javascript is the most beautiful language.</i></p>
  <p class="text-center"><i>BITE ME</i></p>
</div>

<div style="font-size: 12px">
  <span style="color: #3498DB;">提示：<i>点击表头可改变排序，鼠标悬浮于表头图标获取详细含义。Github用户可在<a href="https://github.com/NodeBE4/art/issues/new/choose">这里</a>添加您喜欢的内容，也可<a href="#form">匿名添加</a></i></span>
</div>

